.ff_logo{
}



header{
    height:100vh;
    margin: 0;
}


.header_container{
    background: url("../../assets/img/h-1.jpg")no-repeat center;
    background-size: cover;
    position: relative;
    width: 100%;
    height:100%;
    color:#fff;

}

.header_container::before{
    /* 透過した黒を上から重ねるイメージ */
    background-color: rgba(0,0,0,0.4);
    /* 自由に位置指定 */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
}

.headar_wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
}


.header_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}


.heder_logoText{
    color: #fff;
}

.header_menu{
    display: flex;
    align-items: center;
}

.header_menuText{
    margin: 0 10px;
    text-decoration: none;
    color: #fff;

}


.header_content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.header_guide{
    display: flex;
    justify-content: space-between;
    padding: 30px 4% 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;
}

/* main */

main{
    width: 100%;
    /* background-color: aquamarine; */

}

/* about */
.about{
    margin-top: 200px;
}

.about_logo{
    width: 50%;

}

.about_img{
    width: 100%;
    object-fit: cover;
}

.about_content{
    width: 50%;

}
